@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'titulo';
    src: url(fontes/fungames.otf) format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4b0000;
}

img {
    max-width: 100%;
    display: block;
}


header {
    height: 130px;
    min-width: 320px;
    max-width: 1000px;
    background-image: linear-gradient(to bottom, #000000, #101010, #202020);
    margin: auto;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    padding: 10px;
}

header h1 {
    padding-top: 5px;
    font-family: titulo;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 4px 4px 4px #4b0000;
}

header h1 a {
    color: white;
    text-decoration: none;
}

header p {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.400);
    margin-top: 10px;
    font-size: 1.1em;
}

main {
    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    padding: 10px;
}

nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 4px 4px 0px 4px;
}

nav a:hover {
    background-color: white;
    border-radius: 0px 10px;
    color: black;
}

.imagem img {
    width: 50%;
    margin: auto; 
}

section h1, h2 {
    margin-top: 10px;
    background-color: #4b0000;
    color: white;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.400);
}

.sc {
    margin-bottom: 10px;
}

section h1 {
    margin: 0px;
}

section p {
font-size: 1.1em;
text-align: justify;
margin: 10px;
line-height: 24px;
}

.lista01 {
    columns: 4;
    list-style: none;
}

.lista01 li img {
    width: 50%;
    margin: auto;
    padding: 10px 0px;
}

.lista02 {
    columns: 2;
    list-style: none;
}

.lista02 li img {
    width: 60%;
    margin: auto;
}

footer {
    text-align: center;
    background-image: linear-gradient(to bottom, #000000, #101010, #202020);
    color: white;
    padding: 5px 10px;
    font-size: .8em;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
}